@import url('https://fonts.googleapis.com/css2?family=Benne&family=Montserrat:wght@200&family=Playfair+Display&family=Roboto&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.App {
  background-color: white;
  font-family:'Montserrat', sans-serif;
}

.h1 {
  text-transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  font-size: 23px;
  margin-left: 300px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.h1 img {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-left: 25px;
}


.catalog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}